*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -54px;
}
#root #root_footer {
  height: 54px;
}

#footer {
  clear: both;
  position: relative;
  height: 54px;
}

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "luculent";
  src: url(../fonts/luculent.ttf);
}
@font-face {
  font-family: "luculent-bolditalic";
  src: url(../fonts/luculentbi.ttf);
}
@font-face {
  font-family: "luculent-italic";
  src: url(../fonts/luculenti.ttf);
}
@font-face {
  font-family: "apercupro";
  src: url(../fonts/apercu_regular_pro.otf);
}
header {
  font-family: "luculent-bolditalic";
  font-size: 36px;
  word-spacing: -12px;
}

.kern {
  letter-spacing: -1px;
}

.kern2 {
  letter-spacing: 2px;
}

.kern3 {
  letter-spacing: 2px;
}

.kern4 {
  letter-spacing: -1px;
}

.kern5 {
  letter-spacing: 2px;
}

.kern6 {
  letter-spacing: -6px;
}

.kern7 {
  letter-spacing: 1px;
}

body {
  background-color: #1a1a1a;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  background-color: black;
  z-index: 10;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  text-decoration: none;
  color: #a543ff;
}

a:active {
  text-decoration: none;
  color: black;
}

header {
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 50px;
}

.container {
  background-color: black;
}

section.top {
  padding-top: 40px;
  color: white;
}

section.intro {
  padding-top: 100px;
  color: white;
}

nav {
  font-family: "luculent";
  font-size: 12px;
  padding-top: 35px;
  padding-left: 10px;
  padding-right: 20px;
}
nav ul li {
  display: inline;
  margin-right: 56px;
  font-size: 14px;
}
nav ul li img {
  height: 12px;
  width: 12px;
  margin-top: -3px;
}

h2 {
  font-family: "luculent-italic";
  font-size: 26px;
  margin-bottom: 40px;
}

p {
  font-family: "apercupro";
  font-size: 10px;
  display: inline;
}

main section p {
  padding: 13px 0px;
  background-color: yellow;
  text-align: center;
  margin-top: 250px;
}

main {
  background-color: white;
}

.stick {
  margin-top: 157px;
  text-align: right;
  height: 20%;
}
.stick ul {
  margin-right: -60px;
  position: fixed;
}
.stick ul li {
  margin-bottom: 15px;
  display: block;
}
.stick ul li img {
  width: 13px;
  height: 13px;
}
.stick ul li a:link {
  color: white;
}
.stick ul li a:visited {
  color: white;
}
.stick ul li a:hover {
  color: blue;
}
.stick ul li a:active {
  color: white;
}

section.intro p {
  font-size: 28px;
  line-height: 50px;
}

main section img {
  margin-bottom: 50px;
}

main section {
  margin-bottom: 50px;
  display: inline;
}

header {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
}

nav {
  width: 57.62712%;
  float: right;
  margin-right: 0;
  padding-right: 20px;
}

section.intro {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

main {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

h2 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

main section img {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
  margin-right: 0px;
}

main section p {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  width: 20%;
}

.stick {
  width: 15.25424%;
  float: right;
  margin-right: 0;
  margin-right: -50px;
}

main p {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 570px) and (max-width: 899px) {
  section.top {
    margin-left: 30px;
  }

  header {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px;
  }

  nav {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    font-size: 20px;
  }

  main {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1px) and (max-width: 570px) {
  header {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  nav {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }
  nav ul {
    text-align: center;
  }
  nav ul li {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-right: 0px;
  }

  main section {
    display: block;
  }

  main section img {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px;
  }

  main section p {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }

  main {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
