// global styles

@font-face {
	font-family:"luculent";
	src: url(../fonts/luculent.ttf);
}

@font-face {
	font-family:"luculent-bolditalic";
	src: url(../fonts/luculentbi.ttf);
}

@font-face {
	font-family:"luculent-italic";
	src: url(../fonts/luculenti.ttf);
}

@font-face {
	font-family:"apercupro";
	src: url(../fonts/apercu_regular_pro.otf);
}

header {
	font-family: "luculent-bolditalic";
	font-size: 36px;
	word-spacing: -12px;
}

.kern {
	letter-spacing: -1px;
}

.kern2 {
	letter-spacing: 2px;
}

.kern3 {
	letter-spacing: 2px;
}

.kern4 {
	letter-spacing: -1px;
}

.kern5 {
	letter-spacing: 2px;
}

.kern6 {
	letter-spacing: -6px;
}

.kern7{
	letter-spacing: 1px;
}




.container {
max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    background-color: white;
}

body {
	background-color: white;
}

*, 
*:before,
*:after {
    padding:0;
    margin:0;
}

a:link {
	text-decoration: none;
		color: rgba(11,7,64,1);

}

a:visited {
		color: rgba(11,7,64,1);

}

a:hover {
		text-decoration: none;
		color: rgba(11,7,64,1);

}

a:active{
		text-decoration: none;
		color:black;

		}




header {

	margin-bottom: 20px;
}

section.top {
	margin-top: 40px;
}

section.intro {
}


nav {
	font-family: "luculent";
	font-size: 12px;
	margin-top: 35px;


	ul {

			li{
						display: inline;
    					margin-right: 56px;
    					font-size: 14px;

						img {
							height:12px;
							width:12px;
							margin-top: -3px;
						}

}		

}
}


h2 {
	font-family: "luculent-italic";
	font-size: 26px;
	margin-bottom: 40px;

}

p {
	font-family: "apercupro";
	font-size: 10px;
		display: inline;

}

main section p{
padding: 13px 0px;
	background-color: yellow;
	text-align: center;
	margin-top: 250px;
	// margin: 0px 5px;
}

.stick {
	margin-top: 200px;
	margin-right: -60px;
	text-align: right;
	
	ul {
		position: fixed;
		li {


			display: block;

			a:link {

				color:white;
			}

			a:visited {
				color: white;
			}

			a:hover{
			color:blue;
			}

			a:active{
				color:white;
			}



		}
	}
}



section.intro {
	p{


	font-size: 28px;
	line-height: 50px;
	}
}

main section img {
	// margin-right: 20px;
	margin-bottom: 50px;

}

main section {
	margin-bottom: 50px;
	display: inline;
}

main div {	
	margin-top: -90px;
}

main {
}



// susy desktop


header {
	@include span (5);

}

nav {
	@include span (7 last);

}

section.intro {
	@include span (12);
}

main {
	@include span (12);
}

h2 {
	@include span (12);
}

main section img {
	@include span (7);
	margin-right: 0px;

}

main section p {
	@include span (3);
	width: 20%
	// padding-left: 20px;
	// padding-right: 
}

.stick {
	@include span (2 last)

}



main p {
	@include span (12);
}

// susy tablet


@include susy-breakpoint($tablet) {

	section.top {
		margin-left: 30px;
	}

	header {
		@include span (12);
		margin-bottom: 0px;
	}
	nav {
		margin-top: 0px;
		margin-left: 0px;
		@include span (12);
		font-size: 20px;
	}
		
		main{
		@include span (12);
	} //main

}

// susy mobile


@include susy-breakpoint($mobile) {

	header {
		@include span (12);
		text-align: center;
	}
	nav {
		margin-top: 0px;
		margin-left: 0px;
		@include span (12);
		margin-bottom: 30px;
		

		ul {
			text-align: center;
				li {
		display: block;
		font-size: 22px;
		margin-bottom: 10px;
		background-color: rgba(0,0,0,.1);
		margin-right: 0px;

	}
		}

	}

	main section {
		display: block;

	}

	main section img {
	@include span (12);
	margin-bottom: 0px;
	
}

main section p {
	@include span (12);
	margin-bottom: 10px;
}


		
		main{
		@include span (12);
	} //main

}



















// tablet styles

// @media only screen and (max-width: 720px) {

// 	.container {
// 		margin-left: 20px;
// 		margin-right: 20px;
// 	}

// 	section.top {
// 		display: inline-block;
// 	}
// 	nav {
// 	margin-top: 10px;
// 	float: right;
// 	margin-bottom: 150px;




// 	ul {
// 		position: absolute;


// 			li{
// 		display: inline;
// 		margin-right: 40px;
// }		

// }
// }

// header {
// 	font-size: 30px;
// 	float: left;
// 	margin-right: 10px;
// }


// 	}






// // mobile styles 

// @media only screen and (max-width: 550px) {

// 	p{
// 		display: block;
// 	}

// header {
// 	float: none;
// }

// section.top {
// 	display: block;
// }

// nav {
// 	margin-top: 10px;
// 	float: none;
// 	margin-bottom: 150px;


// 	ul {
// 		position: absolute;


// 			li{
// 		margin-right: 40px;
// 				display: block;

// }		

// }
// }
// }