.container {
	max-width: 960px;
}


// p {
// 	float: right;
// }

// desktop styles

p {
	display: inline;
}


// mobile styles 

@media only screen and (max-width: 550px) {

	p{
		display: block;
	}
}