
@import "susy";
@import "compass/layout/sticky-footer";

$susy: (
  columns: 12,
  gutters: 1/4,
);

@include border-box-sizing;
@include sticky-footer(54px);

.container {
	@include container;
	width:960px;
	height: 1080px;
}

// phone/tablet/desktop
// phone/tablet/desktop
$mobile: 1px 570px;
$tablet: 570px 899px;
$desktop: 900px 3000px;

